/**
CSS stylesheet
**/

.root{
	-fx-background-color: BEIGE;
	-fx-border-width: 5px;
    -fx-border-color: BLACK;
    -fx-font-size: 18px;
     }

.button {
    -fx-border-width: 2px;
    -fx-border-color: BLACK;
    -fx-font-size: 18px;
}

.text-field {
    -fx-background-insets: 5 5 5 5, 5 5 5 5, 0 2 3 2;
}



/**
End of CSS stylesheet
**/